body.el-rte-rtl, body.el-rte-rtl * { direction:rtl;}

body.el-rte-structure blockquote   { border:1px dotted #ccc; }
body.el-rte-structure span         { background-color:#f5f5f5; }
body.el-rte-structure table        { border:1px dotted #aaa; background:url(../images/outline-tab.png) no-repeat right top;}
body.el-rte-structure caption,
body.el-rte-structure td, 
body.el-rte-structure th           { border:1px dotted #ccc; }

body.el-rte-structure h1           { border:1px dotted #ccc; background:url(../images/outline-h1.png) no-repeat right top;}
body.el-rte-structure h2           { border:1px dotted #ccc; background:url(../images/outline-h2.png) no-repeat right top;}
body.el-rte-structure h3           { border:1px dotted #ccc; background:url(../images/outline-h3.png) no-repeat right top;}
body.el-rte-structure h4           { border:1px dotted #ccc; background:url(../images/outline-h4.png) no-repeat right top;}
body.el-rte-structure h5           { border:1px dotted #ccc; background:url(../images/outline-h5.png) no-repeat right top;}
body.el-rte-structure h6           { border:1px dotted #ccc; background:url(../images/outline-h6.png) no-repeat right top;}

body.el-rte-structure p            {
	background-image:url(../images/outline-p.png);
	background-repeat:no-repeat;
	background-position:right top;
	border:1px dotted #99ccff; 
}
body.el-rte-structure div          {
	background-image:url(../images/outline-div.png);
	background-repeat:no-repeat;
	background-position:right top;
	border:1px dotted #aaa;
}

body.el-rte-structure a.elrte-anchor {
	display:inline-block;
	vertical-align:baseline;
	width:12px; 
	height:12px; 
	border:1px dotted #ccc;
	background: url('../images/elrte-toolbar.png') -564px -8px no-repeat;
}

img                 { cursor: default; }
img.elrte-webkit-hl { outline:1px dashed #777; }

.elrtebm { }

.elrte-media-x-shockwave-flash,
.elrte-media-quicktime,
.elrte-media-x-director,
.elrte-media-x-mplayer2,
.elrte-media-x-pn-realaudio-plugin,
.elrte-media-youtube,
.elrte-media-rutube,
.elrte-media-vimeo,
.elrte-yandex-maps,
.elrte-google-maps,
.elrte-iframe,
.elrte-media {
	border:1px solid #ccc;
	background:#eee url(../images/media-flash.png) center center no-repeat;
}

.elrte-media-x-shockwave-flash     { background-image:url(../images/media-flash.png); }
.elrte-media-youtube               { background-image:url(../images/media-youtube.png); }
.elrte-media-vimeo                 { background-image:url(../images/media-vimeo.png); }
.elrte-media-rutube                { background-image:url(../images/media-rutube.png); }
.elrte-media-quicktime             { background-image:url(../images/media-quicktime.png); }
.elrte-media-x-director            { background-image:url(../images/media-director.png); }
.elrte-media-x-mplayer2            { background-image:url(../images/media-winmedia.png); }
.elrte-media-x-pn-realaudio-plugin { background-image:url(../images/media-realaudio.png); }

.elrte-yandex-maps                 { background-image:url(../images/yandex-maps.png); }
.elrte-google-maps                 { background-image:url(../images/google-maps.png); display: block; }

.elrte-iframe                      { background-image:url(../images/iframe.png); }

.elrte-pagebreak {
	display:block;
	clear:both;
	width:100%;
	height:8px;
	outline:1px dashed #444;
	outline-left:none;
	outline-right:none;
	background:transparent url(../images/pagebreak.gif) center center no-repeat;
}

.elrte-pagebreak:after {
  content: ".";
  display: block;
  font-size:0;
  height: 0;
  clear: both;
  visibility: hidden;
}
